<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pink Buttons - Home</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Pink Buttons</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Fabric</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shopping_cart">Shopping Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% for mesg in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ mesg[0] }} alert-dismissible fade show" role="alert">
            {{ mesg[1] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="container">
        <div class="row mt-5">
            
            {% for product in products%}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="{{url_for('static', filename='img/'+product.image)}}" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">Price per Meter: ${{product.price_per_meter}}</p>
                            <p class="card-text">Metres in Stock: {{product.quantity_in_stock}}</p>
                        </div>
                        <div class="card-footer"><a href= "{{ url_for('main.product', product_id=product.id) }}" class="btn btn-primary">View Product</a></div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>

</html>
